/* Reset styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template:
    "left-aside main" 1fr
    "footer footer" auto /
    auto 1fr;

  color: grey;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Grid styles */

.two-col-grid {
  display: grid;
  grid-template-columns: auto 1fr;

  gap: 10px;
}

/* Utility styles */

.align-items__center {
  display: grid;
  align-items: center;
}

.border-bottom {
  border-bottom: 1px solid grey;
}

/* Left sidebar styles */
.left-sidebar {
  padding: 1rem;

  grid-area: left-aside;
  background-color: black;

  display: grid;
  gap: 10px;

  grid-template-rows: auto 1fr 2fr auto;
}

.left-sidebar li {
  margin-bottom: 1rem;
}

.left-sidebar .logo {
  width: 140px;
}

.left-sidebar .fake-button {
  width: 35px;
  height: 35px;

  background-color: grey;
  color: black;

  font-weight: 900;
  font-size: 1.5rem;

  display: grid;
  place-content: center;
}

.frame {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  overflow: hidden;

  background-color: grey;
}

img {
  width: 100%;
  object-fit: cover;
}

.icon {
  width: 30px;
  height: 30px;
}

.left-sidebar .profile > * {
  padding: 10px 0;
}

.left-sidebar .playlist h2 {
  margin-bottom: 10px;

  color: white;

  font-size: 20px;
  text-transform: uppercase;
}

.left-sidebar .profile .icon {
  width: 16px;
  height: 16px;
}

.left-sidebar .profile .user-name {
  color: white;

  font-weight: 900;
}

/* Main styles */
.main {
  grid-area: main;
  background-color: aquamarine;
  display: grid;
  grid-template-rows: 65px 1fr;
}

.main .header {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: rgba(26, 26, 26, 0.945);
  place-items: center end;
}

.main .header .button {
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-right: 15px;
}

.main .main-navbar .sections {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.main .main-navbar .section {
  color: grey;
  text-transform: uppercase;
}

/* Footer styles */
.footer {
  grid-area: footer;
  background-color: #413f3f;

  display: grid;
  grid-template-columns: auto 1fr auto;
}

/* Styles of left part of the footer */

.footer .current-song {
  display: grid;
  grid-template-columns: auto 1fr auto;

  padding: 0 10px;

  gap: 10px;
  align-content: center;
}

.footer .current-song .cover-img {
  width: 60px;
  height: 60px;
}

.footer .current-song .song-info {
  display: grid;
  align-content: center;
}

.footer .current-song .song-info .artist {
  color: white;
}

.footer .current-song .icons {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;

  margin-left: 20px;

  place-content: center;
}

.footer .current-song .icon {
  width: 20px;
  height: 20px;
}

/* Styles of center part of the footer */

.footer .main-controls {
  display: grid;
  place-items: center;
}

.footer .main-controls .buttons {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;

  align-items: center;
}

.footer .main-controls .buttons .play-button {
  width: 25px;
  height: 25px;

  border: 2px solid white;
  border-radius: 50%;

  display: grid;
  place-content: center;
}

.footer .main-controls .bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;

  align-items: center;
}

.footer .main-controls .bar .elapsed-time,
.footer .main-controls .bar .total-time {
  color: white;
}

.footer .main-controls .bar .progress-bar {
  width: 500px;
  height: 8px;

  background-color: grey;
  border-radius: 10px;

  overflow: hidden;
}

.footer .main-controls .bar .progress-bar .loading-bar {
  width: 30%;
  height: 8px;

  background-color: white;
}
